<!DOCTYPE html>
<html lang="en">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.inserisciAccessorioAmm})"></head>
		<head th:insert="fragments/navbar_amm.html :: navbar_amm_css"> </head>
		<head th:insert="fragments/navdrawer_amm.html :: navdrawer_amm_css"> </head>
		<link th:href="@{/css/admin_style/insert_item_amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar_amm.html :: navbar_amm"></header>
	
	    <header th:replace="fragments/navdrawer_amm.html :: navdrawer_amm"></header>
	
	    <section class="content_page">
	        <h1>Insert Accessory</h1>
	        <form th:action="@{/admin/addAccessory}" method="post" th:object="${accessory}" enctype="multipart/form-data">
	        	<div th:if="${#fields.hasGlobalErrors()}">
	            	<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'" >...</p>
				</div>
	            <h6>Code:</h6>
	            <input type="text" placeholder="123456" th:field="*{code}">
	            <h6 th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:style="'color:red'"> </h6>
	            <h6>Name:</h6>
	            <input type="text" placeholder="Controller White" th:field="*{name}">
	            <h6 th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"> </h6>
	            <h6>Description:</h6>
	            <textarea type="text" placeholder="Good" th:field="*{description}"></textarea>
	            <h6>Rating:</h6>
	            <input type="text" placeholder="5" th:field="*{rating}">
	            <h6 th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" th:style="'color:red'"> </h6>
	            <h6>New Price:</h6>
	            <input type="text" placeholder="50" th:field="*{newPrice}">
	            <h6 th:if="${#fields.hasErrors('newPrice')}" th:errors="*{newPrice}" th:style="'color:red'"> </h6>
	            <h6>Used Price:</h6>
	            <input type="text" placeholder="10" th:field="*{usedPrice}">
	            <h6 th:if="${#fields.hasErrors('usedPrice')}" th:errors="*{usedPrice}" th:style="'color:red'"> </h6>
	            <h6>Color:</h6>
	            <input type="text" placeholder="Red" th:field="*{color}">
	            <h6 th:if="${#fields.hasErrors('color')}" th:errors="*{color}" th:style="'color:red'"> </h6>
	            <h6>Category:</h6>
	            <!--<input type="text" placeholder="CONTROLLER" th:field="*{category}">-->
	            <select th:field="*{category}">
	            	<option value="">Choose the category...</option>
	            	<option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
	            </select>
	            <h6 th:if="${#fields.hasErrors('category')}" th:errors="*{category}" th:style="'color:red'"> </h6>
	            <h6>Platform:</h6>
	            <!-- <input type="text" placeholder="PlayStation 4" th:field="*{platform.name}"> -->
	            <select th:field="*{platform.name}">
	            	<option value="">Choose the platform</option>
	            	<option th:each="platform : ${platforms}" th:value="${platform.name}" th:text="${platform.name}"></option>
	            </select>
	            <h6 th:if="${#fields.hasErrors('platform')}" th:errors="*{platform}" th:style="'color:red'"> </h6>
	            <h6>Image:</h6>
	            <input type="file" placeholder="Image" name="file">
	            <br>
	            <input type="submit" name="Insert" value="Insert">
	        </form>
	    </section>
	    
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>