/* ----------
NAVDRAWER
-------------- */


.navdrawer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: calc(100% - 80px);
    margin-top: 80px;
    border-right: 3px solid gray;
    background: rgba(63,94,251,1);
    padding: 10px;
}

.navdrawer_content{
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.list_operation{
    list-style: none;
}

.list_operation li{
    margin: 20px 0px;
}

.list_operation li a{
    text-decoration: none;
    color: black;
}

.list_operation li a:hover{
    color: rgba(219,70,252,1);
}

