<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="navbar_amm_css">
		<link th:href="@{/css/fragments_style/navbar_amm_style.css}" rel="stylesheet">
	</head>
	
	<body>
		<header th:fragment="navbar_amm">
			<nav class="navbar">
		        <div class="logo">
		            <div class="img_shock"></div>
		            <h2>GAMESHOCK</h2>
		        </div>
		        <div class="utility">
		            <ul class="menu">
		                <li class="flip_menu"><a href="home.html" th:href="@{'/logout'}">Esci</a></li>
		                <li class="flip_menu"><a href="home_amm.html" th:href="@{'/admin/homeAmm'}">Ciao, nome amministratore</a></li>
		            </ul>
		            <div class="hamburger_navdrawer"><i class="fas fa-bars fa-2x wt"></i></div>
		        </div>
		    </nav>
		</header>
	</body>
</html>