<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="navdrawer_amm_css">
		<link th:href="@{/css/navdrawer_amm_style.css}" rel="stylesheet">
	</head>
	
	<body>
		<header th:fragment="navdrawer_amm">
			<nav class="navdrawer">
		        <div class="navdrawer_content">
		            <ul class="list_operation">
		                <li><a href="/home_amm.html" th:href="@{'/homeAmm'}">Home Admin</a></li>
		                <li><a href="/inserisci_videogame_amm.html" th:href="@{'/admin/insertVideogame'}">Insert Videogame</a></li>
		                <li><a href="/inserisci_accessorio_amm.html" th:href="@{'/admin/insertAccessorio'}">Insert Accessory</a></li>
		                <li><a href="/vedi_videogame_amm.html" th:href="@{'/admin/showDeleteVideogameAmm'}">Show/Delete Videogame</a></li>
		                <li><a href="/vedi_accessorio_amm.html" th:href="@{'/admin/showDeleteAccessorioAmm'}">Show/Delete Accessory</a></li>
		            </ul>
		        </div>
		    </nav>
		</header>
	</body>
</html>