/* ----------
CONTENT PAGE
-------------- */

.content_page{
    position: absolute;
    top: 80px;
    left: 260px;
    height: calc(100% - 80px);
    width: calc(100% - 260px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../images/admin_images/clash_controller.jpg) center center;
    background-size: cover;
}

.content_page h1{
    background-color: rgba(63, 94, 251, 0.596);
    padding: 5px 40px;
    border-radius: 20px;
    color: red;
}

.content_page h4{
    background-color: rgba(219,70,252,1);
    padding: 5px 40px;
    border-radius: 20px;
    color: white;
}

@media (max-width: 768px){
	
	.content_page{
		width: 100vw;
		top: 80px;
		left: 0px;
	}
	
	.content_page h1{
		font-size: 35px;
	    padding: 5px 10px;
	    margin: 10px;
	}
	
	.content_page h4{
	    font-size: 20px;
	    padding: 5px 10px;
	    margin: 10px;
	}
	
}