<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="navbar_amm_css">
		<link th:href="@{/css/fragments_style/navbar_amm_style.css}" rel="stylesheet">
	</head>
	
	<body>
		<header th:fragment="navbar_amm">
			<nav class="navbar">
		        <div class="logo">
		            <h2>GAMESHOCK</h2>
		            <div class="img_shock">
		            	<img th:src="@{/images/general_images/fulmine_senza_sfondo.png}">
		            </div>
		        </div>
		        <div class="utility">
		            <ul class="menu">
		                <li class="flip_menu"><a href="home.html" th:href="@{'/logout'}">Exit</a></li>
		                <li class="flip_menu"><a href="home_amm.html" th:href="@{'/admin/homeAmm'}">Hello,
		                	<span th:text="|${admin.name} ${admin.surname}">nome e cognome admin</span></a>
	                	</li>
		            </ul>
		            <div class="hamburger_navdrawer"><i class="fas fa-bars fa-2x wt"></i></div>
		        </div>
		    </nav>
		</header>
	</body>
</html>