<!DOCTYPE html>
<html lang="en">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.videogame})"></head>
		<head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<head th:insert="fragments/footer.html :: footer_css"> </head>
	    <link th:href="@{/css/videogames_accessories_style/items_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar.html :: navbar"></header>
	
	
	    <section class="item_content">
	        <div class="title_and_search">
	            <h1>Videogames</h1>
	            <form th:action="@{/researchVideogame}" method="POST">
	                <input type="text" name="param" placeholder="research videogame">
	                <input type="submit" value="Search">
	            </form>
	        </div>
	
	        <div class="collection_item">
	        
	            <div class="box_item" th:each="videogame : ${videogames}">
	                <a href="dettagli_videogame.html" th:href="@{'/detailsVideogame/' + ${videogame.code}}">
	                	<h2 th:text="${videogame.name}">Nome Gioco</h2>
	                    <img th:src="*{'data:image/jpeg;base64,'+ {videogame.image}}" alt="">
	                    <h3 th:text="${videogame.platform.name}">playstation</h3>
	                </a>
	            </div>
	
	        </div>
	    </section>
	    
	
	    <footer th:replace="fragments/footer.html :: footer"></footer>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>