body, html{
    background: rgb(200, 10, 10);
}

/* ----------
COLLECTION VIDEOGAME
-------------- */


.videogame_content{
    text-align: center;
    margin-top: 80px;
}

.title_and_search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title_and_search h1{
    font-family: 'Lobster', cursive;
}

.title_and_search form{
    margin: 0px 170px;
}

.title_and_search input[type=text]{
    border-radius: 10px;
    height: 33px;
    width: 200px;
    outline: none;
}

.title_and_search input[type=text]:focus{
    border: 2px solid orange;
    transition: 0.5s;
}

.title_and_search input[type=submit]{
    border-radius: 15px;
    font-size: 20px;
    height: 35px;
    width: 85px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(219,70,252,1) 100%);;
    border: none;
    color: #fff;
}


.title_and_search input[type=submit]:hover{
    border: 3px solid orange;
}


.videogame_content h1{
    margin: 0px;
    padding: 20px 0px;
}

.collection_videogame{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 3px solid red; */
    height: auto;
}

.box_videogame{
    border: 3px solid blue;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 300px;
    width: 25%;
    min-width: 300px;
    margin: 50px 20px;
    border-radius: 10px;
}

.box_videogame a{
    text-decoration: none;
    color: black;
}

.box_videogame:hover {
	-webkit-box-shadow: 5px 5px 29px 9px rgba(0,0,0,0.87); 
    box-shadow: 5px 5px 29px 9px rgba(0,0,0,0.87);
}

.box_videogame img{
    height: 270px;
}

.box_videogame h2,h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.box_videogame h3 {
    color: green;
    font-weight: bolder;
}

@media (max-width: 768px){

    .title_and_search{
        justify-content: center;
        flex-wrap: wrap;
    }

    .title_and_search form{
        margin: 0px;
    }

    .box_videogame{
        margin: 20px 20px;
    }
}

