<!DOCTYPE html>
<html lang="en">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.accessori})"></head>
		<head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<head th:insert="fragments/footer.html :: footer_css"> </head>
		<link th:href="@{/css/accessories_style/accessories_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar.html :: navbar"></header>
	
	
	    <section class="accessori_content">
	        <div class="title_and_search">
	            <h1>Accessories</h1>
	            <form th:action="@{/researchAccessory}" method="POST">
	                <input type="text" name="param" placeholder="research accessory">
	                <input type="submit" value="Search">
	            </form>
	        </div>
	
	        <div class="collection_accessori">
	        
	            <div class="box_accessorio" th:each="accessory : ${accessories}">
	                <a href="dettagli_accessorio.html" th:href="@{'/detailsAccessory/' + ${accessory.code}}">
	                    <h2 th:text="${accessory.name}">Nome Accessorio</h2>
	                    <img th:src="*{'data:image/jpeg;base64,'+ {accessory.image}}" alt="">
	                    <h3 class="platform" th:text="${accessory.platform.name}">platform</h3>
	                </a>
	            </div>
	            
	        </div>
	    </section>
	
	    <footer th:replace="fragments/footer.html :: footer"></footer>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>