<!DOCTYPE html>
<html lang="en">
<head>
    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.login})"></head>
	<head th:insert="fragments/navbar.html :: navbar_css"> </head>
	<head th:insert="fragments/footer.html :: footer_css"> </head>
	<link th:href="@{/css/login_amm_style.css}" rel="stylesheet">
</head>
<body>

    <header th:replace="fragments/navbar.html :: navbar"></header>

    <section class="page_content">
        <video loop="true" autoplay="autoplay" muted>
            <source th:src="@{/images/Lightning - 28067.mp4}" type="video/mp4">
            Il browswer non supporta il video
        </video>
        <div class="login_form">
            <form action="" method="post">
                <h3>Login</h3>
                <h6 id="text_email">Email or Username</h6>
                <input type="text" placeholder="mario.rossi@gmail.com">
                <h6 id="text_pwd">Password</h6>
                <input type="password" placeholder="password">
                <br>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </section>


    <script th:replace="fragments/base.html :: script"></script>
    
    
</body>
</html>