<!DOCTYPE html>
<html lang="en">
	<head>
	    <head th:insert="fragments/base.html :: headerfiles(title=#{pageTitle.login})"></head>
		<head th:insert="fragments/navbar.html :: navbar_css"> </head>
		<link th:href="@{/css/admin_style/login_amm_style.css}" rel="stylesheet">
	</head>
	<body>
	
	    <header th:replace="fragments/navbar.html :: navbar"></header>
	
	    <section class="page_content">
	        <video loop="true" autoplay="autoplay" muted>
	            <source th:src="@{/images/general_images/Lightning.mp4}" type="video/mp4">
	            Il browswer non supporta il video
	        </video>
	        <div class="login_form">
	            <form th:action="@{/login}" method="post">
	                <h2>Login</h2>
	                <h5 id="text_email">Username</h5>
	                <input type="text" name="username" placeholder="username">
	                <h5 id="text_pwd">Password</h5>
	                <input type="password" name="password" placeholder="password">
	                <br>
	                <br>
	                <input type="submit" value="Sign in">
	            </form>
	        </div>
	    </section>
	
	    <script th:replace="fragments/base.html :: script"></script>
	    
	</body>
</html>